/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 30px;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .hero {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 50px;
    margin: 0
  }
  .work {

  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    margin: auto;
  }
  

  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 33%;
  }
  
  .footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column p {
    line-height: 1.5;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  